/* Navbar.css */

/* Styling for the AppBar */
.app-bar {
    background-color: #2E3B55; /* Dark blue-grey */
    color: white;
    padding: 0 20px; /* Add some padding for better spacing */
}

.app-bar-logo {
    height: 40px;
}

.navbar-title {
    flex-grow: 1;
}

/* Styling for the Drawer */
.drawer-content {
    background-color: #5b6163; /* Darker blue-grey */
    height: 100%;
    color: white;
}

.drawer {
    color: white;
}

.drawer-item {
    margin-bottom: 1rem;
    padding: 10px 20px; /* Add padding for button like look */
    border-bottom: 1px solid #6C7476; /* Add a border between items */
}

.drawer-item a {
    text-decoration: none;
    color: white;
}

.drawer-item a:hover {
    text-decoration: underline;
}

.drawer-icon {
    color: white;
}

/* Footer */
.footer {
    margin-top: 300px;
    background-color: #333; /* Dark grey */
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1000; 
    margin-bottom: auto;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.footer a img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
}

.footer p {
    margin: 0;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}
