.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('./bg2.jpg');
    /* Add your background image */
    background-size: cover;
    background-position: center;
}

.signup-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* Adjust the width as needed */
}

.signup-form input {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    padding: 15px 20px;
    width: 100%;
    /* Make the button full width */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.signup-form button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin: 10px 0;
}